{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#container{
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
}
#container:hover .btn{
	display: block;
}
.slide{
	display: none;
}
.slide img{
	width: 100%;
}
.btn{
	position: absolute;
	top: 45%;
	font-size: 30px;
	display: none;
	cursor: pointer;
}
#next{
	right: 0;
}
.active{
	display: block;
}
#content-dot{
	display: flex;
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	justify-content: center;
	width: 100%;
}
.dot{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #ccc;
	margin-left: 5px;
	cursor: pointer;
}
.active-dot{
	background-color: orange;
}